= render :partial => 'spree/admin/shared/sub_menu/product'
= render :partial => 'spree/admin/shared/product_tabs', :locals => {current: 'Videos'}
%table.table.index.sortable
  %tr
    %th= t("youtube_ref")
    %th.actions
  - @product.videos.each do |video|
    %tr{:id => dom_id(video)}
      %td
        = link_to video.youtube_link, video.youtube_link, target: '_blank'
      %td.actions.actions-2.text-right
        = link_to_edit 'edit', { url: edit_admin_product_video_url(@product, video), no_text: true }
        = link_to_delete video, { url: admin_product_video_url(@product, video), no_text: true }
#video
%br/
%p
  = link_to icon('icon icon-plus') + ' ' + t("new_video"), new_admin_product_video_url(@product), id: 'new_video_link', class: 'btn btn-success'
- content_for :head do
  :javascript
    jQuery(document).ready(function(){

      jQuery('#new_video_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#video').html(r);} });
      });

    });

