= render :partial => 'spree/admin/shared/sub_menu/product'
- if @product
  = render :partial => 'spree/admin/shared/product_tabs', :locals => {current: 'Videos'}
  %table.table.index.sortable
    %tr
      %th= t("youtube_ref")
      %th Home
      %th Stream
      %th.actions
    - @product.videos.each do |video|
      %tr{:id => dom_id(video)}
        %td
          = link_to (video.title.present? ? video.title : video.youtube_link), video.youtube_link, class: 'fancyYoutube'
        %td
          - if video.show_on_home
            %i.icon.icon-ok
        %td
          - if video.stream
            %i.icon.icon-ok
        %td.actions.actions-2.text-right
          = link_to_edit 'edit', { url: edit_admin_product_video_url(@product, video), no_text: true }
          = link_to_delete video, { url: admin_product_video_url(@product, video), no_text: true, method: :delete }
- else
  %table.table.index.sortable
    %tr
      %th= t("youtube_ref")
      %th
      %th Home
      %th Stream
      %th.actions
    - @videos.each do |video|
      %tr{:id => dom_id(video)}
        %td
          = link_to (video.title.blank? ? video.youtube_link : video.title), video.youtube_link, class: 'fancyYoutube'
        %td
          = link_to video.watchable.name, [:admin, video.watchable, :videos], target: '_blank' if video.watchable
        %td
          - if video.show_on_home
            %i.icon.icon-ok
        %td
          - if video.stream
            %i.icon.icon-ok
        %td.actions.actions-2.text-right
          = link_to_edit 'edit', { url: edit_admin_video_url(video), no_text: true }
          = link_to_delete video, { url: admin_video_url(video), no_text: true, method: :delete }

#video
%br/
%p
  = link_to icon('icon icon-plus') + ' ' + t("new_video"), (@product ? new_admin_product_video_url(@product) : new_admin_video_url), id: 'new_video_link', class: 'btn btn-success'
- content_for :head do
  :javascript
    jQuery(document).ready(function(){

      jQuery('#new_video_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#video').html(r);} });
      });

    });

